{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "promise", "unicorn"],
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:promise/recommended",
        "plugin:unicorn/recommended",
        "plugin:import/typescript",
        "prettier",
        "prettier/@typescript-eslint"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "no-console": "off",
        "lines-between-class-members": "off",
        "unicorn/no-process-exit": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/interface-name-prefix": "off",
        "no-useless-return": "off",
        "unicorn/filename-case": [
            "error",
            {
                "case": "camelCase"
            }
        ]
    }
}
